*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root{
	--card-color: #585C83;
	--completed-color: #383C63;
	--wrong-color: red;
	--selected-color: blue;
	--timebox-background-color: darkcyan;
	
	--card-count-w: 4;
	--card-count-h: 6;
	--timebox-height: 100px;
	--gamebox-width: min(100vw,calc(100vh - var(--timebox-height)));
	--card-width: calc(var(--gamebox-width) / var(--card-count-w));
	--card-height: calc(var(--gamebox-width) / var(--card-count-h));
}

body {
    background: black;
}

#timebox{
	height: var(--timebox-height);
	background: var(--timebox-background-color);
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(var(--timebox-height) / 2);
	width: var(gamebox-width);
}

#gamebox{
	display: grid;
	grid-template-columns: repeat(4, var(--card-width));
	grid-template-rows: repeat(6, var(--card-height));
  background: #404040;
  height: var(--gamebox-width);
}

.card {
	border: calc(var(--card-height)/50) solid black;
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--card-color);
	padding: 0;
	font-size: calc(var(--card-height) / 4.5);
	font-weight: 500;
	word-wrap: break-word;
}

.selected{
	background: var(--selected-color);
}

.wrong{
	background: var(--wrong-color);
}

.completed{
	background: var(--completed-color);
	color: transparent;
}